.input input{
    border: 1px solid rgb(255, 6, 151);
    height: 70px;
    width: 50%;
}
.input textarea{
    border: 1px solid rgb(255, 6, 151);
    height: 70px;
    width: 50%;
}
.input button{
    background-color: rgb(255, 6, 151);
    width: 75%;
}
.requiredtext {
    color: red;
    background-color: black;
    font-weight: bolder;
    font-size: 90%;
    border-radius: 5px;
    padding: 0% 10%;
    text-align: center;
    width: fit-content;
    margin: auto;
  }


@media screen and (max-width: 900px) {
    .input input{
        width: 100%;
    }
    .input textarea{
        width: 100%;
    }
}