.footer {
  background-color: black;
  color: deeppink;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
.footerDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.p {
  font-size: 200%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: deeppink;
}
.ul{
    list-style-type: none;
    display: flex;
}
.circledradius1{
  border-radius: 1000px;
  width: 80px;
  height: 80px;
  border: 2px solid deeppink;
}
.circledradius{
    border-radius: 1000px;
    width: 80px;
    height: 80px;
    border: 2px solid deeppink;
    margin-left: 20px;
}
.circledradius:hover{
    border: 2px solid white;
}
.locationtext{
    color: white;
}

@media screen and (max-width: 840px) {
  .footerDisplay {
    display: flex;
    flex-direction: column;
  }
}
