.card {
    width: 230px;
    border: 1px solid rgb(192, 2, 135);
    border-radius: 10px;
    padding: 10px;
    height: auto;
    background: white;
    text-align: center;
    font-size: 90%;
    font-weight: bolder;
    margin: 10px;
    margin-bottom: 15px;
    transition: width 0.3s, height 0.3s;
  }
  
  .card:hover {
    background-color: silver;
  }
  
  .mapdisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
  }
  .detailsbutton{
    color: rgb(192, 2, 135);
    background-color: white;
    border: none;
   }


  
  
  @media screen and (max-width: 700px) {
    .card {
      width: 150px;
      border: 2px solid rgb(192, 2, 135);
      margin: 5px;
      margin-bottom: 15px;
      background: white;
      font-size: 80%;
    }
  }
  